<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.ethz.inf.vs.piremote">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".core.CoreApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat">
        <activity
            android:name=".core.MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".core.AppChooserActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_selector"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat"></activity>
        <activity
            android:name=".application.TrafficLightActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_trafficLight"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat"></activity>
        <activity
            android:name=".application.VideoActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_video"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat"></activity>
        <activity
            android:name=".application.ImageActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_image"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat"></activity>
        <activity
            android:name=".application.RadioPiActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_radio"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat"></activity>
        <activity
            android:name=".application.MusicActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_music"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat"></activity>
        <activity
            android:name=".application.ShutdownActivity"
            android:label="@string/title_activity_shutdown"></activity>
    </application>

</manifest>
